<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS | DETALLE</title>
</head>
<body>
    <h1>DETALLE DE LA NOTICIA</h1>

    <!-- Enlaces de navegación -->
    <p>
        <a href="{% url 'todas_las_noticias' %}">⬅️ Volver a todas las noticias</a> |
        <a href="{% url 'inicio' %}">🏠 Ir al Inicio</a>
    </p>

    <hr>
    <br>
    <h3>{{noticia.titulo}}</h3>
    <p><small>autor: {{noticia.autor.nombre}} | {{noticia.fecha}}</small></p>
    <p><strong>{{noticia.subtitulo}}</strong></p>
    <p>{{noticia.contenido}}</p>
    
    <!-- Categorías -->
    <p><strong>Categorías:</strong>
        {% for categoria in noticia.categorias.all %}
            <span style="background-color: #e0e0e0; padding: 2px 5px; margin: 2px; border-radius: 3px;">
                {{ categoria.nombre }}
            </span>
        {% empty %}
            Sin categorías
        {% endfor %}
    </p>
    
    <!-- Acciones -->
    <div style="margin-top: 20px;">
        <a href="{% url 'actualizar_noticia' noticia.noticia_id %}" style="background-color: orange; color: white; padding: 5px 10px; text-decoration: none;">✏️ Editar</a>
        <a href="{% url 'eliminar_noticia' noticia.noticia_id %}" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none;">🗑️ Eliminar</a>
    </div>
    
    <hr>
    <br>
</body>
</html>